/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Rotating Line Styles */
#line {
  width: 200px;
  height: 2px;
  background-color: #000000;
  transform-origin: center;
}
